[class*="col-"] {
  float: left;
}

@import "variables";


body {
    background-color: white;
}
.row {

    ul a {
       color: $secondary-color;
       width: 600px;
        padding-top: 25px;
        margin-left: 20px;
        list-style-type: none;
        font-size: 13px;

    }

    ul {
        margin-top: 50px;
    }
    h2 {
        font-size: 50px;
        color:$secondary-color;
    }
    h3 {
          color:$secondary-color;
    }
    #logo {
        margin-top: 50px;
    }
    #imgsez1 {
        height:390px;
    }
}


#prova {
    border-bottom: 1px solid grey;
}

#uno {
    margin-top: 60px;
}
#due {
    background-color:$primary-color;
    height:400px;
    width: 100%;
}
