[class*="col-"] {
  float: left;
}

@import "variables";


body {
    background-color: $secondary-color;
}
.row {
    h1{
        background-color: orange;
        color: #5d4633;
    }
    ul a {
       color: #5d4633;
       width: 600px;
        padding-top: 25px;
        margin-left: 50px;
        margin-top: 50px;
        list-style-type: none;
        font-size: 15px;

    }
}
#prova {
    border-bottom: 1px solid grey;
}
