[class*="col-"] {
  float: left;
}

@import "variables";



body {
    background-color: white;
}
.row {

    ul a {
       color: $secondary-color;
       width: 600px;
        padding-top: 25px;
        margin-left: 20px;
        list-style-type: none;
        font-size: 13px;

    }
    span {
        color:$secondary-color;
        font-size: 15px;
    }

    a {
        text-decoration: none;
    }
    span:hover {
        color:#5182c5;
    }
    button {
        background-color: rgb(48,72,143);
        border-radius: 9px;
        color:white;
        margin-top: 30px;
        padding: 9px;
    }

    #signup {
        background-color:white;
        border-radius: 9px;
        color:white;
        margin-top: 30px;
        border: 1px solid rgb(48,72,143);
        color :rgb(48,72,143);
        padding: 7px;
    }
    #signup:hover {
        background-color:#5182c5;
        color : white;
    }
    a {
        padding: 5px;
    }

    ul {
        margin-top: 50px;
    }
    a:hover {
        color:#5182c5;
    }
    h2 {
        font-size: 50px;
        color:$secondary-color;
    }
    h3 {
          color:$secondary-color;
          font-size: 27px;
          margin-top: 30px;
    }
    #logo {
        margin-top: 85px;
    }
    #imgsez1 {
        height:390px;
    }
}


#barrasotto {
    border-bottom: 1px solid grey;
}

.uno {
    margin-top: 60px;
}
// sezione 2222222222222222
.due {
    background-color:$primary-color;
    height:750px;
    width: 100%;
    margin-top: 50px;


h3 {
    color:$secondary-color;
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
}
.testo {
    margin-top: 80px;
    font-size: 27px;
    text-align: center;
}
.immaginine {
    height: 100px;
    width: auto;
    margin-top: 50px;
    margin-left: 120px;

}
.singola {
    height: 250px;
    width: auto;
    margin-top: 50px;
}
#barrasotto2 {
    border-bottom: 1px solid grey;
    margin-top: 80px;
}
}
// fine section2
// 3 section
.tre {
    background-color: $primary-color;
    height:890px;
    width: 100%;

.immaginine {
        height: 100px;
        width: auto;
        margin-top: 50px;
        margin-left: 120px;

    }
h3 {
        color:$secondary-color;
        font-size: 19px;
        text-align: center;
        margin-top: 20px;
    }
.testo {
        margin-top: 80px;
        font-size: 27px;
        text-align: center;
    }
.singola {
        height: 300px;
        width: auto;
        margin-top: 50px;
        margin-left: 90px;
    }


}
// section 4
.quattro {
    height:630px;
    width: 100%;
    margin-top:80px;

.employ {
        height:450px;
        width: auto;
        margin-left: -110px;

    }
    a {
        color:#5182c5;
        font-size: 22px;
        text-align: left;
        margin-top: 20px;
        margin-left: 35px;
    }
    h2 {
        color:$secondary-color;
        font-size: 27px;
        margin-left: 50px;
    }
    h3 {
            color:$secondary-color;
            font-size: 22px;
            text-align: left;
            margin-top: 20px;
            margin-left: 50px;
        }
        #com {
            height:210px;
            width: auto;
            margin-left: 80px;
            margin-top: 50px;

        }
        span {
            color:#5182c5;
            font-size: 22px;
        }
}
// section 5
.cinque {
    height:630px;
    width: 100%;
    margin-top:80px;

.employsurvey {
            height:480px;
            width: auto;

        }
        a {
            color:#5182c5;
            font-size: 22px;
            text-align: left;
            margin-top: 20px;
            margin-left: 35px;
        }
        h2 {
            color:$secondary-color;
            font-size: 27px;
            margin-left: 50px;
        }
        h3 {
                color:$secondary-color;
                font-size: 22px;
                text-align: left;
                margin-top: 20px;
                margin-left: 50px;
            }
#com2 {
                height:250px;
                width: auto;
                margin-left: 80px;
                margin-top: 50px;

            }
            span {
                color:#5182c5;
                font-size: 22px;
            }

}
// section 6
.sei {
    height:630px;
    width: 100%;
    margin-top:80px;
    .review {
                height:430px;
                width: auto;
                margin-left: -140px;

            }
            a {
                color:#5182c5;
                font-size: 22px;
                text-align: left;
                margin-top: 20px;
                margin-left: 35px;
            }
            h2 {
                color:$secondary-color;
                font-size: 27px;
                margin-left: 50px;
            }
            h3 {
                    color:$secondary-color;
                    font-size: 22px;
                    text-align: left;
                    margin-top: 20px;
                    margin-left: 50px;
                }
    #com3 {
                    height:250px;
                    width: auto;
                    margin-left: 80px;
                    margin-top: 50px;

                }
                span {
                    color:#5182c5;
                    font-size: 22px;
                }

}
// section7
.sette {
    height:630px;
    width: 100%;
    margin-top:80px;

.reco {
            height: 560px;
            width: auto;

        }
        a {
            color:#5182c5;
            font-size: 22px;
            text-align: left;
            margin-top: 20px;
            margin-left: 35px;
        }
        h2 {
            color:$secondary-color;
            font-size: 27px;
            margin-left: 50px;
        }
        h3 {
                color:$secondary-color;
                font-size: 22px;
                text-align: left;
                margin-top: 20px;
                margin-left: 50px;
            }
#com4 {
                height:250px;
                width: auto;
                margin-left: 80px;
                margin-top: 50px;

            }
            span {
                color:#5182c5;
                font-size: 22px;
            }

}
// section888888888
.otto {
    background-color:$primary-color;
    height:850px;
    width: 100%;
    margin-top: 50px;
    h2 {
        color:$secondary-color;
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
    }
    .last {
        margin-top: 20px;
    }
    span {
        color:$secondary-color;
        font-size: 15px;
    }
    a {
        text-decoration: none;

    }
    span:hover {
        color:#5182c5;

    }
    button {
        background-color: rgb(48,72,143);
        border-radius: 9px;
        color:white;
    }
}

// footer
#fine{
    height:450px;
    width: 100%;
    margin-top: 50px;

    span ul li{
        color:$secondary-color;

    }
    span {
        font-size: 17px;
        margin-left: 10px;
    }
    ul {
        list-style-type: none;
        padding: 0;

    }
    li {
        margin: 2px;
        padding: 2px;
        width: 150px;
        text-align: center;
    }
    h3{
        font-size: 22px;
    }
    a {
        padding: 0px;
    }
}
